@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
    font-family: "SCOREBOARD";
    src: local("SCOREBOARD"),
        url(../assets/SCOREBOARD.ttf) format("truetype");
}

span {
    font-family: SCOREBOARD;

}

.destroyed {
    font-size: 80px !important;
}

.missed {
    font-size: 80px !important;
}

.Container {
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    background-color: #252525;
    height: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fefefe;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}


.playersContainer {
    margin: 0 0 20px 0;
}

.nameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 35px;
}

.nameContainer p {
    margin: 0 10px;
}

.nameContainer button {
    background-color: #09ab2c;
    font-size: 22px;
    border: none;
    margin: 0;
    padding: 2px;
    border-radius: 20%;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreContainer span {
    margin: 0 10px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreContainer button {
    margin: 0 10px;
}

.optionContainer {
    border: none;
    font-size: 19px;
    justify-content: center;
    align-items: center;
}

.inpute {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    margin-bottom: 20px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 7px 20px 12px 7px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.button {
    position: relative;
    background-color: #31651a;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    padding-top: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20%;
}

.buttonsup {
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    background-color: #e74c3c;

}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 150%;
    padding-left: 200%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0.1;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}